.wraper {
  border-bottom: 1px solid #7b61ff;
  background: #fefcff;
}
.container {
  padding-left: 25px;
  padding-right: 25px;

  @media screen and (min-width: 320px) and (max-width: 767px) {
    width: 320px;
    margin-left: auto;
    margin-right: auto;
  }
  @media screen and (min-width: 768px) and (max-width: 1439px) {
    width: 768px;
    padding-left: 40px;
    padding-right: 40px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 18px;
  }
  @media screen and (min-width: 1440px) {
    width: 1440px;
    padding-left: 80px;
    padding-right: 80px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 22px;
  }
}
.header {
  padding-top: 24px;
  height: 168px;
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 92px;
  }
}
.logoWraper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.linkLogo {
  @media screen and (min-width: 768px) and (max-width: 1439px) {
    display: flex;
    margin-right: 80px;
  }
  @media screen and (min-width: 1440px) {
    margin-right: 623px;
  }
}
.chooseLanguage {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  height: 48px;
  width: 69px;
  border-radius: 8px;
  box-shadow: 2px 4px 9px 0px rgba(166, 141, 174, 0.28);
  @media screen and (min-width: 768px) {
    margin-left: 24px;
  }
}
.language {
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0;
  text-decoration: ;
  color: rgba(63, 63, 63, 1);

  text-transform: uppercase;
}
.buttonChooseLanguage {
  border-color: transparent;
  background-color: transparent;
  cursor: pointer;
}
.background {
  background-image: url("../../image/bagrounImag320.svg");
  padding-left: 24px;
  padding-right: 24px;
  width: 320px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 768px) and (max-width: 1439px) {
    background-image: url("../../image/backgroundimg768.svg");
    width: 768px;
    padding-left: 40px;
    padding-right: 40px;
    margin-left: auto;
    margin-right: auto;
  }
  @media screen and (min-width: 1440px) {
    background-image: url("../../image/backgroudimg1440.svg");
    width: 1440px;
    padding-left: 80px;
    padding-right: 80px;
    margin-left: auto;
    margin-right: auto;
  }
}
