.searchContainer {
  display: flex;
  align-items: center;
  margin-top: 24px;
  padding: 12px;
  height: 48px;
  box-shadow: 2px 4px 9px 0px rgba(166, 141, 174, 0.28);
  border-radius: 10px;
  @media screen and (min-width: 768px) {
    width: 368px;
    margin-top: 0;
  }
  @media screen and (min-width: 1440px) {
    width: 423px;
  }
}
.searchIcon {
  height: 24px;
  cursor: pointer;
}
.search {
  border-color: transparent;
  border: 0;
}
